html,
body {
    height: 100vh;
}


.App {
  text-align: center;
  height: 100vh;
}

.Map-page {
  /* display: grid; */
  /* height: 100vh; */
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "map ." "map pack"; */
  height: 100%;
  /* min-height: 400vh; */
  /* display: grid; */
  /* grid-template-rows: 25px 1fr; */
  position: relative;
}

.Map-page-map {
  /* height: 100vh; */
  /* min-height: 400vh; */
  height: 100%;
  z-index: 100;
}
.guesses {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100px;

  background-color: white;
  z-index: 1000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
